@charset "UTF-8";
/* estilos generales para toda la página */
.brand-name {
  width: 216.66667px;
  height: auto;
  color: #4369b0;
  margin-left: 2rem; }

body {
  font-family: "Montserrat Alternates", sans-serif; }
  body .font-color-general {
    color: #a3567c; }
    body .font-color-general .bg-color-info {
      background-color: #f4f6fb; }

/*inicio*/
.bg-img-principal {
  background-image: url("../assets/images/main.jpg");
  background-size: cover;
  height: 650px;
  background-position: center center; }

/*nosotros*/
.img__fluid {
  width: 380px;
  height: 270px;
  margin-left: 4px;
  margin-top: 80px;
  margin-right: auto; }

.list {
  background-color: #f4f6fb;
  height: 270px;
  margin-top: 80px;
  margin-left: 25px; }

/*consultas*/
.container-fluid .flex-container {
  width: 99%;
  width: 99%;
  height: auto;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  background: #dde4f0;
  padding: 20px;
  border: 3px solid black;
  outline: 4px solid #4252dd; }

.form {
  text-align: center;
  color: #a3567c;
  min-width: 75%; }

.formulario {
  width: 350px;
  height: auto; }

#form_input {
  width: 100%;
  padding: 7px;
  margin: 6px 0;
  border: none;
  border-bottom: 3px solid #a3567c;
  background: #dde4f0;
  color: #000; }

#form_input[type="submit"]:hover {
  background-color: #a3567c;
  border-bottom: none;
  padding: 12px; }

#form_input[type="submit"]:active {
  background: linear-gradient(to bottom, #dde4f0, #f3f298); }

/*servicios*/
.img-fluid {
  width: 423px;
  margin-left: 3px;
  margin-top: 45px;
  margin-right: auto; }

.bg-color-azul {
  background-color: #4369b0; }

/* estilos para pantallas menores a 992px (menor que lg de bootstrap) */
@media only screen and (max-width: 992px) {
  .brand-name {
    width: 185.71429px;
    color: #4369b0;
    margin-left: 1rem; }
  .flex-container {
    background-color: #dde4f0; }
  .img-fluid {
    width: 98%;
    margin-left: 4px; }
  .img__fluid {
    width: 98%; }
  /* tenemos 1 imagen específica para móvil */
  .bg-img-principal {
    background-image: url("../assets/images/cobayos.png");
    background-size: cover;
    height: 500px;
    background-position: center center; } }
