//variables colores


$color-arena: rgb(221, 228, 240);
$color-negro: #000;
$color-boton: rgb(243, 242, 152);
$color-azulinob: rgb(67, 105, 176);
$color-azul: rgb(66, 82, 221);
$color-bgn: rgb(67, 105, 176);
$un-color :rgb(163, 86, 124);
$color-fondo: rgb(244, 246, 251);


//tipografia
$tipografia-geneneral:'Montserrat Alternates', sans-serif;
//espaciados
$espaciado-veint: 20px;
$espaciado-siete: 7px;
$espaciado-doce: 12px;
//posiciones
$bgn-posicion: center center;
$general-center: center;

$au-tos: auto;
 



